<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FLVERtoASCII.form" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FLVERtoASCII.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
  <userSettings>
    <FLVERtoASCII.form>
      <setting name="default_er_dir" serializeAs="String">
        <value/>
      </setting>
      <setting name="armorIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rightWPIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="leftWPIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="hairIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="beardIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eyebrowIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dcxDir" serializeAs="String">
        <value/>
      </setting>
      <setting name="default_sek_dir" serializeAs="String">
        <value/>
      </setting>
      <setting name="default_ds1_dir" serializeAs="String">
        <value/>
      </setting>
      <setting name="default_ds3_dir" serializeAs="String">
        <value/>
      </setting>
      <setting name="default_bb_dir" serializeAs="String">
        <value/>
      </setting>
      <setting name="last_game" serializeAs="String">
        <value>0</value>
      </setting>
    </FLVERtoASCII.form>
    <FLVERtoASCII.default>
      <setting name="default_er_dir" serializeAs="String">
        <value/>
      </setting>
    </FLVERtoASCII.default>
  </userSettings>
</configuration>
